                        /*Menu a gauche*/

/*Initalisation du header*/
body {
    margin: 0;
}
header{
    padding: 0 0 0 0;
    position: fixed;
    top: 0%;
    left: 0%;
    display: block;
    width: 15%;
    height: 750px;
    background-color: rgb(12,27,71);
    border-right:  black 5px solid;
    z-index: 10;
    
}
/*Initalisation du header*/


/*Liste*/
ul {
    position: absolute;
    left: 10%;
    display: block;
    height: 75px;
    padding-left: 20px;
    width: 160px;
    height: 60px;
    text-align: left;
    overflow : auto;
    border: 1px rgba(169, 169, 169, 0.323) solid;
}
ul a:hover {
    color: white;
}
/*Liste*/

/*Deroulant + lien nav*/
.nav1 h1 {
    position: absolute;
    bottom: 80%; 
}
.nav2 h1{
    position: absolute;
    bottom: 74%;
}
.nav2 ul{
    position: absolute;
    bottom: 66%;

}
.nav3 h1{
    position: absolute;
    bottom: 59%;
}
.nav3 ul{
    position: absolute;
    bottom: 51%;
}
.nav4 h1{
    position: absolute;
    bottom: 44%;
}
.nav4 ul{
    position: absolute;
    bottom: 36%;
}
.nav5 h1{
    position: absolute;
    bottom: 29%;
}
.nav5 ul{
    position: absolute;
    bottom: 21%;
}
.nav6 h1{
    position: absolute;
    bottom: 14%;
}
.nav6 ul{
    position: absolute;
    bottom: 6%;
}
/*Deroulant + lien nav*/

/*Image du haut et du bas*/
header h1, header img  {
    position: relative;
    left:1%;
}
.haut-menu{
    display: block;
    position: absolute;
    left: -1px;
    height: 78px;
    width: 230px;
    margin-left: 0;
    border-bottom: 2px rgba(169, 169, 169, 0.5) solid;
    z-index: 6;
}
.bas-menu {
    position: absolute;
    bottom: 0%;
    left: 0px;
    display: block;
    width: 228px;
    height: 60px;
    margin-left: 0;
    
}
.name {
    position: absolute;
    left:40px;
    top: 58px;
    width:110px;
    
}
/*Image du haut et du bas*/

/*Placement etoile*/
.decoration1{
    position: absolute;
    bottom: 20%;
    left: 55%;
}
.decoration2{
    position: absolute;
    height: 3%;
    bottom: 50%;
    left: 15%;
}
.decoration3{
    position: absolute;
    top: 14%;
    left: 75%;
    height: 2%;
}
.decoration4{
    position: absolute;
    top: 3%;
    left: 5%;
    height: 2%;
}
/*Placement etoile*/

/*Hyperliens*/
a {
    color: darkgray;
    text-decoration: none;
}
/*Hyperliens*/

/*Initialisation des pointeurs*/
.pointer1 {
    position:absolute;
    bottom: 84%;
    left: 110px;
    width: 20px;
    height: 20px;
    display: none;
}
.pointer2 {
    position:absolute;
    bottom: 78%;
    left: 120px;
    width: 20px;
    height: 20px;
    display: none;
}
.pointer3 {
    position:absolute;
    bottom: 63%;
    left: 120px;
    width: 20px;
    height: 20px;
    display: none;
}
.pointer4 {
    position:absolute;
    bottom: 48%;
    left: 106px;
    width: 20px;
    height: 20px;
    display: none;
}
.pointer5 {
    position:absolute;
    bottom: 33%;
    left: 135px;
    width: 20px;
    height: 20px;
    display: none;
}
.pointer6 {
    position:absolute;
    bottom: 18%;
    left: 110px;
    width: 20px;
    height: 20px;
    display: none;
}
/*Initialisation des pointeurs*/

/*Apparition des pointeurs*/
.nav1 a:hover .pointer1 {
    display: flex;
}
.nav2 a:hover .pointer2 {
    display: flex;
}
.nav3 a:hover .pointer3 {
    display: flex;
}
.nav4 a:hover .pointer4 {
    display: flex;
}
.nav5 a:hover .pointer5 {
    display: flex;
}
.nav6 a:hover .pointer6 {
    display: flex;
}
/*Apparition des pointeurs*/

                        /*Menu a gauche*/

/*Titre*/
.title {
    width: 84.65%;
    height: 78px;
    background-color: #FFBF66;
    position: relative;
    left: 15.35%;
   
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: black 2px solid;
    padding-bottom: 0;
    margin-bottom: 0;

}
.title h1 {
    position: relative;
    top: 25px;
}
.title-r {
    position: absolute;
    right: 0;
}
.title-r-full{
    position: absolute;
    right: 25%;
}
.title-l {
    position: absolute;
    left: 0;   
}
.title-l-full{
    position: absolute;
    left: 18%;
}
.title-u {
    position: absolute;
    left: 40%;
}
/*Titre*/

/*Footer*/
footer {
    width: 84.65%;
    height: 48px;
    background-color: #D46F4D;
    position: relative;
    left: 15.35%;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-top: black 2px solid;
    border-bottom: black 5px solid;
}
.footer-l {
    display: none;
}
.footer-l-full {
    position: absolute;
    left: 0px;
}
footer div img:hover{
    opacity: 0.7;
}
.copyright {
    display: flex;
    position: absolute;
    right: 100px;
    bottom: 8px;
    border: 1px solid transparent;
    color: black;
}
.copyright:hover {
    border: 1px solid black;
    border-radius: 10px;
}
footer div {
    padding-right: 10px ;
}

/*Footer*/


                    /*Initialisation main*/

/*Dimensions main*/
main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 84.65%;
    left: 15.35%;
    position: relative;
    height: 1fr;
    background-image: linear-gradient(#FFBF66,#D46F4D) ;
}
/*Dimensions main*/

/*Ajustement Paragraphes*/

.p-up {
    margin-top:0;
    margin-bottom:0;
    padding-top: 20px;
    text-align: justify;
    padding-right: 60px;
    padding-left: 60px;
}
.p-down {
    margin-top:0;
    padding-bottom: 20px;
    text-align: justify;
    padding-right: 60px;
    padding-left: 60px;
}
.p-center-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:0;
    padding-right: 60px;
    text-align: justify;
    margin-bottom: 0;
}

.p-center-left p {
    margin-top: 0;
    margin-bottom: 0;
}
.p-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding-left: 60px;
    position: relative;
    top: 6px;
    
}
.p-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding-left: 60px;
    position: relative;
    top: 6px;
}
.desc {
    text-align: center;
    margin-left: 10px;
    padding: 0;
    font-weight: 600;
    font-size: 1.5em;
    width: 625.783px;
}
.p-center-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:0;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 0;
}
.p-center-left img {
    height: 352px;
    margin-left: 10px;
    margin-top: 28px;
    width: auto;
    border: 2px black solid;
}
.p-center-right img {
    height: 352px;
    margin-top: 28px;
    margin-right: 10px;
    margin-left: 50px;
    width: auto;
    border: 2px black solid;
}
.p-center-right p {
    margin-top: 0;
    margin-bottom: 0;
}
.p-begin {
    margin-top:0;
    margin-bottom:0;
    text-align: justify;
    padding: 0 60px 20px 60px;
}
.p-title {
    margin-top:30px;
    margin-bottom:5px;
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
}
.begin img{
    position: relative;
    left: 230px;
    width: 810px;
    height: auto;
    border: 2px black solid;
}
.p-end {
    margin-top:0;
    margin-bottom:0;
    text-align: justify;
    padding: 0 60px 10px 60px;
}
.end img{
    position: relative;
    left: 230px;
    width: 810px;
    height: auto;
    border: 2px black solid;
    margin-bottom: 20px;
}
.p-down-alt {
    display: block;
}
.half{
    display: none;
}
.fullscreen{
    display: block;
}
.p-center-left .fullscreen {
    position: relative;
    top: 10px;
    margin-left: 60px;
}
.down {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0;
}
.p-center-right .fullscreen {
    position: relative;
    top: 13px;
    margin-right: 60px;
    text-align: justify;
}
.p-center-right .desc {
    position: relative;
    left: 40px;
}
/*Ajustement Paragraphes*/

                    /*Initialisation main*/







/*Adaptation zoom*/
@media screen and (max-width: 1200px){
    .end img{
        left: 30px;
        width: 510px;
    }
    .p-end{
        padding: 0 20px 10px 20px;
        
    }
    .p-begin{
        padding: 0 20px 20px 20px;
        
    }
    .desc {
        width: auto;
    }
    .p-center-right .desc {
        position: relative;
        left: 0px;
    }
    main {
        width: 76.65%;
        left: 23.35%;
    }
    header{
         width: 23%;
    } 
    ul {
        left: 4%;
        width:132px
    }
    .haut-menu{
        width: 174px;
    }
    .bas-menu{
        width: 173px;
    }
    .name {
        left:27px;
        top: 61px;
        width: 96px ;
    }
    .title {
        width: 76.5%;
        position: relative;
        left: 23.5%;
    }
    .title-l-full,.title-r-full{
        display: none;
    }
    .title-u {
        position: absolute;
        left: 35%;
    }
    .footer-l {
        display: flex;
        position: absolute;
        left: 60px;
    }
    .footer-l-full {
        display: none;
    }
    .begin img{
        left: 30px;
        width: 510px;
    }
    .p-up {
        padding-right: 20px;
        padding-left: 20px;
    }
    .up-left {
        position:relative;
        width: auto;
    }
    .p-down {
        padding-right: 20px;
        padding-left: 20px;
    }
    .p-center-left {
        padding-right: 20px;
    }
    .p-left {
        padding-left: 20px;
        display: block;
        top:0;
    }
    .p-center-left img {
        height: 152px;
        margin-left: 10px;
        margin-top: 7px;
    }
    .half{
        display: block;
    }
    .fullscreen{
        display: none;
    }
    .p-center-right img {
        height: 152px;
        margin-top: 7px;
        margin-left: 10px;
        margin-right: 0;
    }
 }
/*Adaptation zoom*/